.bgImg {
  background-image: url('../../images/tshirt.jpg');
  background-repeat: no-repeat;
}
.dragItem {
  cursor: move;
}
.modal-container {
  background-color: #ffffffb4;
  width: 500px;
  border: 1px solid rgb(192, 191, 191);
  border-radius: 10px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
