.serviceCard:hover {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px 4px lightgray;
  color: #239b56;
}
.serviceCard {
  color: #239b56;
}

.serviceLink {
  text-decoration: none;
}

.serviceLink:hover {
  text-decoration: none;
}
.cardBg {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
